<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pt14305</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css"/>
</head>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">ADMIN ARSENAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/list" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/manager" routerLinkActive="active">Manager</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<h2>Add Product</h2>
<button class="btn btn-primary w-40" routerLink="/admin/add">Add Product</button><br>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Desc</th>
      <!-- <th scope="col">Status</th> -->
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products |slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" >
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.desc}}</td>
      <!-- <td>{{product.status? 'Còn hàng' : 'Hết hàng'}}</td> -->
      <td>
        <button class="btn btn-primary " routerLink="/admin/detail/{{product.id}}">Detail!</button>
        <!-- <button class="btn btn-primary " (click)="showDetail(product)">Detail</button> -->
        <button class="btn btn-primary " (click)="removeitem(product.id)">Delete</button>
        <button class="btn btn-primary " routerLink="/admin/edit/{{product.id}}">Edit</button>
      </td>
    </tr>

  </tbody>

</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="products.length"></ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
