
<form #productForm="ngForm" appIdentityRevealed>
  <h1>Edit Product</h1><br>
  <!-- <div class="form-group">
      <label for="exampleInputEmail1">Id : </label>
      <input type="text" class="form-control" name="id" [(ngModel)]="product.id">
    </div> -->
    <div [hidden]="productForm.submitted">
      <div class="cross-validation" [class.cross-validation-error]="productForm.errors?.identityRevealed && (productForm.touched || productForm.dirty)">
    <div class="form-group">
      <label for="exampleInputEmail1">Product name : </label>
      <input type="text" class="form-control" name="name" [(ngModel)]="product.name" #name="ngModel" minlength="2" required>
    </div>
    	<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
			<div *ngIf="name.errors.required">
				Names is required.
			</div>
			<div *ngIf="name.errors.minlength">
				Names must be at least 2 characters long.
			</div>
		</div>
     <div class="form-group">
      <label for="exampleInputEmail1">Images : </label>
      <input type="text" class="form-control" name="image" [(ngModel)]="product.image" #image="ngModel"required>
    </div>
    	<div *ngIf="image.invalid" class="alert alert-danger">
					<div *ngIf="image.errors.required">
						Image is required.
					</div>
				</div>
    <div class="form-group">
      <label for="">Price :</label>
      <input type="text" class="form-control" name="price" [(ngModel)]="product.price" #price="ngModel"min="0" required>
    </div>
     <div *ngIf="price.invalid " class="alert alert-danger">
				<div *ngIf="price.errors.required">
					Price is required.
				</div>
				<div *ngIf="price.errors.min">
					Price >0.
				</div>
			</div>
    <div class="form-group">
        <label for="">Desc :</label>
        <input type="text" class="form-control" name="desc" [(ngModel)]="product.desc" #desc="ngModel" required>
      </div>
       	<div *ngIf="desc.invalid" class="alert alert-danger">
					<div *ngIf="desc.errors.required">
						Desc is required.
					</div>
				</div>
    <button  class="btn btn-primary" [disabled]="productForm.invalid" (click)="submitForm()">Update</button>
      </div>
    </div>
</form>
  