<head>
	<title>Online Gaming a Games Category Flat Bootstrap Responsive Website Template :: w3layouts</title>
	<!--for-mobile-apps-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Online Gaming Responsive Website Template, Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//for-mobile-apps-->

	<!-- Custom-Theme-Files -->
	<!-- Bootstrap-CSS -->
	<!-- <link rel="stylesheet" href="/src/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/src/css/easy-responsive-tabs.css"/> -->
	<!-- Index-Page-Styling -->
	<!-- <link rel="stylesheet" href="/src/css/style.css" type="text/css" media="all"> -->
	<!-- JQuery -->
	<script src="/js/jquery.min.js"> </script>
	<!-- Bootstrap-Main -->
	<script src="/js/bootstrap.min.js"> </script>
	<!-- Start-Smooth-Scrolling -->
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 2000);
			});
		});
	</script>
	<!-- //End-Smooth-Scrolling -->

	<script src="/js/easyResponsiveTabs.js"></script>

</head>

<body>

	<div class="header">

		<div class="nav">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" routerLink="/game" routerLinkActive="active"><img src="https://i.imgur.com/iegkC3m.png"  alt="logo"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
							<!-- <li><a routerLink="/about" routerLinkActive="active">About</a></li> -->
              <li><a href="about" class="scroll">About</a></li>
							<li><a routerLink="/requirement" routerLinkActive="active">Requirements</a></li>
							<li><a routerLink="/game" routerLinkActive="active">Games</a></li>
							<li><a routerLink="/team" routerLinkActive="active">Teams</a></li>
							<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
              	<!-- <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li> -->
						</ul>

					</div><!-- navbar-collapse -->
				</div><!-- container -->
			</nav>
		</div> <!-- Nav Ends -->

    <div class="banner1">
		<div class="banner" id="home">
			<div class="container">
				<!-- <div class="banner-content">
					<h1>PUBG Gamers</H1>
					<h2>Modern Online Gaming Template For Action Games </h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
						industry's
						standard dummy text </p>
				</div> -->
			</div>
		</div> <!-- Banner Ends Here -->
    </div>
	</div> <!-- Header Ends -->
<br>
<br>
  <div class="body-list">
  <h1><span class="about">Product Detail</span></h1>
  <br>
<div class="row">
  <div *ngIf="product">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" [src]="product.image" alt=""  height="330px" width="500px"></a>
      <div class="card-body">
        <h2 class="card-title">
         Name: {{product.name}}
        </h2>
        <h4>Price: {{product.price}}</h4>
        <h4 class="card-text">Desc: {{product.desc}}</h4>
        <!-- <p class="card-text">{{product.status ? 'hết':'còn'}}</p> -->
      </div>
      <div class="card-footer">
        <!-- <button class="btn btn-primary " routerLink="/admin/detail/{{product.id}}">Chi Tiết!</button> -->
        
         <!-- <button class="btn btn-danger " routerLink="/detail/{{product.id}}"><h4>Product Detail !</h4></button> -->
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        <br>
        <br>
        <button class="btn btn-primary " routerLink="/home" routerLinkActive="active">Back</button> |
        <button class="btn btn-danger ">Buy !</button>       
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<br>
  </div>


