<body>

	<div class="header">

		<div class="nav">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
								<a class="navbar-brand" routerLink="/game" routerLinkActive="active"><img src="https://i.imgur.com/iegkC3m.png"  alt="logo"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
							<li><a routerLink="/about" routerLinkActive="active">About</a></li>
							<li><a routerLink="/requirement" routerLinkActive="active">Requirements</a></li>
							<li><a routerLink="/game" routerLinkActive="active">Games</a></li>
							<li><a routerLink="/team" routerLinkActive="active">Team</a></li>
							<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
              	<li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
						</ul>

					</div><!-- navbar-collapse -->
				</div><!-- container -->
			</nav>
		</div> <!-- Nav Ends -->
	</div> <!-- Header Ends -->
<div class="requirement" id="requirements">
		<!-- Requirements Starts   -->
		<div class="container">
			<div class="all-require">

				<div class="heading">
					<h3>PUBG Gamers <span> Requirements</span> </h3>
				</div>

				<div class="specification">

					<div class="col-md-4 require-size">
						<div class="grid">
							<i class="pc"> </i>
							<p> OS : <span>Windows 8 64-Bit </span> </p>
							<p> CPU : <span>Intel® Core™ 2 Duo </span> </p>
							<p> Memory : <span>6 GB RAM </span> </p>
							<p> Hard Disk Space : <span>40 GB </span> </p>
							<p> Video : <span>NVIDIA® GTS 450 / ATI® 5870</span> </p>
							<p> Sound : <span>DirectX compatible</span> </p>
							<p> DirectX® : <span>DirectX® 11 </span> </p>
							<p> Internet : <span>Broadband </span> </p>
						</div>
					</div>

					<div class="col-md-4 require-size">
						<div class="grid">
							<i class="xbox"> </i>
							<h5> Xbox One </h5>
							<p> Storage : <span>40 GB of free space </span> </p>
							<p> HD Video Output : <span>1080px </span> </p>

							<div class="grid-bottom">
								<h5> Xbox 360 </h5>
								<p> Storage : <span>50 GB of free space </span> </p>
								<p> HD Video Output : <span>1920px </span> </p>
							</div>
						</div>
					</div>

					<div class="col-md-4 require-size">

						<div class="grid">
							<i class="ps"> </i>
							<h5> PS 2 </h5>
							<p> Storage : <span>40 GB of free space </span> </p>
							<p> HD Video Output : <span>1080px </span> </p>

							<div class="grid-bottom">
								<h5> PS 3 </h5>
								<p> Storage : <span>50 GB of free space </span> </p>
								<p> HD Video Output : <span>1920px </span> </p>
							</div>
						</div>
					</div>

					<div class="clearfix"> </div>
				</div> <!-- Specification Ends here   -->
			</div>
		</div>
	</div> <!-- requirement Ends -->