<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html>

<head>
	<title>Online Gaming a Games Category Flat Bootstrap Responsive Website Template :: w3layouts</title>
	<!--for-mobile-apps-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Online Gaming Responsive Website Template, Web Templates, Flat Web Templates, Android Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//for-mobile-apps-->

	<!-- Custom-Theme-Files -->
	<!-- Bootstrap-CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/easy-responsive-tabs.css " />
	<!-- Index-Page-Styling -->
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
	<!-- JQuery -->
	<script src="/js/jquery.min.js"> </script>
	<!-- Bootstrap-Main -->
	<script src="/js/bootstrap.min.js"> </script>
	<!-- Start-Smooth-Scrolling -->
	<script type="text/javascript" src="/js/move-top.js"></script>
	<script type="text/javascript" src="/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 2000);
			});
		});
	</script>
	<!-- //End-Smooth-Scrolling -->

	<script src="/js/easyResponsiveTabs.js"></script>

</head>

<body>

	<div class="header">

		<div class="nav">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" routerLink="/game" routerLinkActive="active"><img src="https://i.imgur.com/iegkC3m.png"  alt="logo"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
							<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
							<!-- <li><a routerLink="/about" routerLinkActive="active">About</a></li> -->
              <li><a href="about" class="scroll">About</a></li>
							<li><a routerLink="/requirement" routerLinkActive="active">Requirements</a></li>
							<li><a routerLink="/game" routerLinkActive="active">Games</a></li>
							<li><a routerLink="/team" routerLinkActive="active">Team</a></li>
							<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
              	<li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
						</ul>

					</div><!-- navbar-collapse -->
				</div><!-- container -->
			</nav>
		</div> <!-- Nav Ends -->

    <div class="banner1">
		<div class="banner" id="home">
			<div class="container">
				<!-- <div class="banner-content">
					<h1>PUBG Gamers</H1>
					<h2>Modern Online Gaming Template For Action Games </h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
						industry's
						standard dummy text </p>
				</div> -->
			</div>
		</div> <!-- Banner Ends Here -->
    </div>
	</div> <!-- Header Ends -->
  <router-outlet></router-outlet>




	<!--Plug-in Initialisation-->
	<script type="text/javascript">
		$(document).ready(function () {

			//Vertical Tab
			$('#parentVerticalTab').easyResponsiveTabs({
				type: 'vertical', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				tabidentify: 'hor_1', // The tab groups identifier
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#nested-tabInfo2');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
		});
	</script>
	<!-- Up Coming Games Ends Here -->


</body>
<div class="about" id="about">
		<div class="container">

			<h3> Welcome to <span>PUBG Gamers</span> </h3>
			<h4>This is the Game of Lorem Ipsum available, but the majority have suffered alteration in some form,
				by injected humour, or randomised words which don't look even slightly believable.
			</h4>

			<div class="about-image">

				<div class="col-md-4 about-size">
					<div class="shadow">
						<img src="https://gamek.mediacdn.vn/2018/6/1/photo-1-15278266668291666079858.jpg" alt="image">
					</div>
					<h5>Battle in Game</h5>
					<p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
						Lorem Ipsum available, but the majority have suffered alteration in some</p>

				</div>

				<div class="col-md-4 about-size">
					<div class="shadow">
						<img src="https://gamek.mediacdn.vn/2018/7/2/maxresdefault-15305141627271211764596.jpg" alt="image">
					</div>
					<h5>Drive in Game</h5>
					<p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
						Lorem Ipsum available, but the majority have suffered alteration in some</p>

				</div>

				<div class="col-md-4 about-size">
					<div class="shadow">
						<img src="https://itbuy.vn/media/news/1908_cachkhacphucloipingcaotrongpupg-itbuy.png" alt="image">
					</div>
					<h5>Shooting in Game</h5>
					<p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
						Lorem Ipsum available, but the majority have suffered alteration in some</p>

				</div>
				<div class="clearfix"> </div>
			</div> <!-- About-image Ends  -->

		</div> <!-- Container ends -->
	</div> <!-- About Ends -->
</html>

